In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm

%matplotlib inline

In [2]:
AdvWorksTest = pd.read_csv('AW_test.csv')
AdvWorksTest.columns = [str.replace('-', '_') for str in AdvWorksTest.columns]

for col in AdvWorksTest.columns:
    if AdvWorksTest[col].dtype == object:
        count = 0
        count = [count + 1 for x in AdvWorksTest[col] if x == '?']
        print(col + ' ' + str(sum(count)))
        
AdvWorksTest.shape

Title 0
FirstName 0
MiddleName 0
LastName 0
Suffix 0
AddressLine1 0
AddressLine2 0
City 0
StateProvinceName 0
CountryRegionName 0
PostalCode 0
PhoneNumber 0
BirthDate 0
Education 0
Occupation 0
Gender 0
MaritalStatus 0

(500, 23)

In [3]:
AdvWorksTest.head(5)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,18988,NaN,Courtney,A,Baker,NaN,8727 Buena Vista Ave.,NaN,Fremont,California,...,1/5/1945,Bachelors,Management,F,S,0,2,0,5,86931
1,29135,NaN,Adam,C,Allen,NaN,3491 Cook Street,NaN,Haney,British Columbia,...,10/4/1964,Bachelors,Skilled Manual,M,M,1,2,2,4,100125
2,12156,NaN,Bonnie,NaN,Raji,NaN,359 Pleasant Hill Rd,NaN,Burbank,California,...,1/12/1934,Graduate Degree,Management,F,M,1,2,0,4,103985
3,13749,NaN,Julio,C,Alonso,NaN,8945 Euclid Ave.,NaN,Burlingame,California,...,9/22/1958,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161
4,27780,NaN,Christy,A,Andersen,NaN,"42, boulevard Tremblay",NaN,Dunkerque,Nord,...,3/19/1965,High School,Manual,F,M,1,1,2,2,21876

In [4]:
AdvWorksTest.drop('Title', axis = 1, inplace = True)
AdvWorksTest.drop('Suffix', axis = 1, inplace = True)
AdvWorksTest.drop('AddressLine2', axis = 1, inplace = True)
AdvWorksTest.drop('MiddleName', axis = 1, inplace = True)
AdvWorksTest.head(5)

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,18988,Courtney,Baker,8727 Buena Vista Ave.,Fremont,California,United States,94536,133-555-0128,1/5/1945,Bachelors,Management,F,S,0,2,0,5,86931
1,29135,Adam,Allen,3491 Cook Street,Haney,British Columbia,Canada,V2W 1W2,252-555-0173,10/4/1964,Bachelors,Skilled Manual,M,M,1,2,2,4,100125
2,12156,Bonnie,Raji,359 Pleasant Hill Rd,Burbank,California,United States,91502,409-555-0193,1/12/1934,Graduate Degree,Management,F,M,1,2,0,4,103985
3,13749,Julio,Alonso,8945 Euclid Ave.,Burlingame,California,United States,94010,175-555-0196,9/22/1958,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161
4,27780,Christy,Andersen,"42, boulevard Tremblay",Dunkerque,Nord,France,59140,1 (11) 500 555-0122,3/19/1965,High School,Manual,F,M,1,1,2,2,21876

In [5]:
from datetime import datetime

def age_customer(dl):
    Db = datetime.strptime(dl, '%m/%d/%Y')
    dl = datetime.strptime('1998-01-01', '%Y-%m-%d').year - Db.year
 
    if dl > 45: return 'Above 55'
    elif 45 < dl <= 55: return 'Between 45 and 55'
    elif 25 < dl <= 45: return 'Between 25 and 45'
    elif 0 < dl <= 25: return 'Under 25'
    else: return 'None'
        
AdvWorksTest['GroupCustomers']  = AdvWorksTest.BirthDate.apply (lambda row: age_customer(row))   
AdvWorksTest['BikeBuyer'] = ""

print(AdvWorksTest.shape)
AdvWorksTest.head(5)

(500, 21)

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,GroupCustomers,BikeBuyer
0,18988,Courtney,Baker,8727 Buena Vista Ave.,Fremont,California,United States,94536,133-555-0128,1/5/1945,...,Management,F,S,0,2,0,5,86931,Above 55,
1,29135,Adam,Allen,3491 Cook Street,Haney,British Columbia,Canada,V2W 1W2,252-555-0173,10/4/1964,...,Skilled Manual,M,M,1,2,2,4,100125,Between 25 and 45,
2,12156,Bonnie,Raji,359 Pleasant Hill Rd,Burbank,California,United States,91502,409-555-0193,1/12/1934,...,Management,F,M,1,2,0,4,103985,Above 55,
3,13749,Julio,Alonso,8945 Euclid Ave.,Burlingame,California,United States,94010,175-555-0196,9/22/1958,...,Skilled Manual,M,M,1,0,0,4,127161,Between 25 and 45,
4,27780,Christy,Andersen,"42, boulevard Tremblay",Dunkerque,Nord,France,59140,1 (11) 500 555-0122,3/19/1965,...,Manual,F,M,1,1,2,2,21876,Between 25 and 45,

In [6]:
AdvWork_True = AdvWorksTest[['CustomerID','Education','Occupation','Gender','MaritalStatus'
                         ,'HomeOwnerFlag','NumberCarsOwned','NumberChildrenAtHome','YearlyIncome'
                         ,'TotalChildren','GroupCustomers']]

print(AdvWork_True.shape)
print(AdvWork_True.CustomerID.unique().shape)
AdvWork_True.head(5)

(500, 11)
(500,)

,CustomerID,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,YearlyIncome,TotalChildren,GroupCustomers
0,18988,Bachelors,Management,F,S,0,2,0,86931,5,Above 55
1,29135,Bachelors,Skilled Manual,M,M,1,2,2,100125,4,Between 25 and 45
2,12156,Graduate Degree,Management,F,M,1,2,0,103985,4,Above 55
3,13749,Graduate Degree,Skilled Manual,M,M,1,0,0,127161,4,Between 25 and 45
4,27780,High School,Manual,F,M,1,1,2,21876,2,Between 25 and 45

In [7]:
AdvWork_True.describe()

,CustomerID,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,YearlyIncome,TotalChildren
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,20268.290000,0.666000,1.592000,1.150000,81795.474000,2.188000
std,5385.050297,0.472112,1.136715,1.596433,40627.641775,1.696589
min,11018.000000,0.000000,0.000000,0.000000,10588.000000,0.000000
25%,15464.250000,0.000000,1.000000,0.000000,50273.750000,1.000000
50%,20452.000000,1.000000,2.000000,0.000000,82298.000000,2.000000
75%,24789.000000,1.000000,2.000000,2.000000,107067.750000,4.000000
max,29483.000000,1.000000,4.000000,5.000000,184897.000000,5.000000

In [8]:
labels = np.array(AdvWork_True['YearlyIncome'])
print(labels)

[ 86931 100125 103985 127161  21876  44467  77702  99418  13522  46264
  96375  77688  52127  60978  36915  86445 113658  83326 142823  42704
  31323  61350 148087 112248  94217 122711  58716 128140 101320 150227
  85726 125452  50463  91982 135619  62347 157083  92155 111592  61015
  86042  16149  89009  71664  54946  61296  26298 121950 165094  87346
 122359  80468 131206  20427  63991  63830  66343  86825  17410  57913
  48202  19745  88827 101507  23910  92860 121541 141619  39565 139299
  82733  66790 102700  46284  56823 102763  63530  38524 122214  58812
  96408  80326  65596 170887  57415  19824 108839 163183  40146 107111
 113337  81034  72787 102945  20560 161140  16588  73662  57023  89625
  89770 118636  71702 154515 114039  98023  21984 107067  87337 143858
  84569  92946  83958  39320  61300  93527  46297  53441  88333  98760
  86846 100001 122694  31139 101616  61458  47048 140321  40997 174134
  40926  18156  64285  71487  73600 135451 165902 103153  88798 101566
 127995  41243 131992  30029  79991  80286  77745  16358  12393  36426
  94374  35783  56435  71123 173183  38150  97231  45511 113158 137500
  25568  68194  43139  55895  92753  82058 157564 121835 140372  40421
  83491  83254  82419 109601  60147  24276 112552  51376  20864 141672
  24399  56795  82264  82374  17342  57835  50171  17135  75962  38778
  92307 108017  63364 119529 139058  69332  93395  58400 106486 111922
  69811  83382  19905 109554 113523  99495 131508  93048  67818  43937
  69562  16065  99165  65560  78067 106878  50921  69536 117885  60168
  58798  92728 141127  77598  19615  65832  75228 143980  21982  70602
  53262 112110  49490  28276 111398  32783  18645  99245  62515  58022
  97815  96315  43725  15222  94283  55884  66952  61985 127056  95610
  92925  47923  16512  57395 129349 133373  81236 114278 127886  86806
  45972  57252 107130  46556  42607  86868  74037 101916 166027  74722
 125967  63683 123254  46217  98101  27721 159590 106259  30684  57466
  90264  80264  45164  13224  11357  15482  86484  44451  93580  15162
  78757  78748  57262 120279  57417 170339 156936  29264  44536  15192
  84815  48814 174979  83972  92092  28631 136345 146136  81701 141543
  56926  82457 162339  95285  86037  40322  36732 102964 174110  51756
  48756  24231  39899  37932 174465  23574  66663 126067  53076  83631
 179580 100447  57598  49490  94208 140268 114882  43168  97455  97067
  91953  56259  85419  99220  58684  10588 112760  11961 107070 100008
 152975  50308  95773  38145  96231 176859 105276  79068  22875  92513
 138417  60462  63838  98371  61302  23980  66615  82403  45937  92479
 119460  51042  86388  22071  81089  81033  93275  49862  48706 145944
  86885  98215  17255 148161  79606  73315 172780  34734  67114 121842
 142248 113066  57117  48123  78296  62923 126716  19313  17896  58922
 105605 172714 152629 121942  41342 117397  48978  46914  86981  62083
 107380  42318 119578  62594  42157  56680  91228 145348 139530  51734
  77939  29599 101162  27771 104790  47840  70881  25594  24166  31608
  46080  82332  96515  99777  52260  34609  90371 128405  61309 148975
  82391 135829 140433 184897  20517 101507  57028  14562  30824  80827
  21679 125963 111687  87038  87085  40247 119828  62337  68515 102582
 139556  36660 117312  23449  98331  88800  47635 104148 119133  76038
  89480 122608 128720  64468  19194  50494  65238 178373 167054 100653
 171379  89465 115361  90438  53572  13511 156982  81160  87335 133419
  45885  82935 176428 105288 106829  97084 110762 138097 101465  19108]

In [9]:
def encode_string(cat_features):
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Occupation','Gender','MaritalStatus']

Features = encode_string(AdvWork_True['Education'])
for col in categorical_columns:
    temp = encode_string(AdvWork_True[col])
    Features = np.concatenate([Features, temp], axis = 1)

print(Features.shape)
print(Features[:2, :])

(500, 14)
[[1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0.]]

In [10]:
AdvWork_MM = np.concatenate([Features, np.array(AdvWork_True[['NumberCarsOwned','NumberChildrenAtHome'
                                                              ,'YearlyIncome','TotalChildren']])], axis = 1)
print(AdvWork_MM.shape)
print(AdvWork_MM[:2, :])

(500, 18)
[[1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00
  0.00000e+00 1.00000e+00 2.00000e+00 0.00000e+00 8.69310e+04 5.00000e+00]
 [1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 1.00000e+00
  1.00000e+00 0.00000e+00 2.00000e+00 2.00000e+00 1.00125e+05 4.00000e+00]]

In [11]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(AdvWork_MM.shape[0])
indx = ms.train_test_split(indx, test_size = 300)

X_train = AdvWork_MM[indx[0],:]
y_train = np.ravel(labels[indx[0]])
X_test = AdvWork_MM[indx[1],:]
y_test = np.ravel(labels[indx[1]])

In [12]:
scaler = preprocessing.StandardScaler().fit(X_train[:,17:])
X_train[:,17:] = scaler.transform(X_train[:,17:])
X_test[:,17:] = scaler.transform(X_test[:,17:])
X_train[:2,]

array([[ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         2.00000000e+00,  7.75980000e+04, -9.91787324e-02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  2.00000000e+00,
         3.00000000e+00,  4.58850000e+04,  5.01904494e-01]])

In [13]:
logistic_mod = linear_model.LogisticRegression() 
logistic_mod.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [14]:
print(logistic_mod.intercept_)
print(logistic_mod.coef_)

[-1.43311682e-09  4.82726206e-02  3.61782005e-06  2.17609110e-06
  2.62867995e-06  1.61514177e-06  1.83271729e-06  1.13689443e-06
 -5.24571791e-07 -6.63745888e-07 -9.82069498e-07 -5.19005581e-09
 -5.19030514e-09 -5.38149290e-09 -5.42584838e-09 -5.44560761e-09
 -5.45243338e-09 -5.45713727e-09 -5.58633730e-09 -5.64915894e-09
 -5.76436780e-09 -5.87303268e-09 -5.92167815e-09 -3.74794500e-02
 -6.15530404e-09 -6.19503634e-09 -6.21780483e-09 -6.22816211e-09
 -6.27154085e-09 -6.28387743e-09 -6.32661989e-09 -6.33105622e-09
 -6.34412555e-09 -6.35197912e-09 -3.26152322e-01 -9.43682507e-06
 -2.95572559e-01 -1.02534786e-02 -1.49380169e-01 -7.87074491e-06
 -7.98036873e-06 -8.75069670e-06 -8.50301968e-06 -3.59818858e-01
 -8.50240738e-06 -8.89091901e-06 -1.09700547e-05 -3.35445426e-01
 -3.09385144e-01 -3.84009585e-01 -9.07581025e-06 -3.32956751e-01
 -3.09509898e-03 -4.13528800e-01 -1.24517856e-02 -4.40286120e-01
 -5.35889976e-01 -3.72902198e-01 -5.25945664e-01 -5.04387338e-01
 -4.37821067e-01 -4.34161027e-01 -4.36239425e-01 -4.36876459e-01
 -5.36662647e-01 -3.95824430e-01 -4.41437981e-01 -4.43061329e-01
 -4.01620902e-01 -4.60891198e-01 -4.88108561e-01 -4.44124903e-01
 -4.44138957e-01 -4.02638833e-01 -4.92785574e-01 -4.53109979e-01
 -4.15479949e-01 -6.33991699e-01 -4.30504425e-01 -5.12873256e-01
 -4.63456496e-01 -4.55730862e-01 -5.54802574e-01 -4.14362518e-01
 -4.69234725e-01 -5.07150727e-01 -6.01101174e-01 -5.43778251e-01
 -5.83412808e-01 -4.57894182e-01 -5.55592878e-01 -5.49515854e-01
 -4.38519516e-01 -6.01686813e-01 -5.65965928e-01 -5.95551481e-01
 -5.52022372e-01 -5.40887810e-01 -5.65278015e-01 -6.24516186e-01
 -5.70247807e-01 -5.49844223e-01 -6.35097344e-01 -7.08940432e-01
 -6.69666446e-01 -5.18327030e-01 -7.04609905e-01 -7.24961856e-01
 -6.28944940e-01 -4.85784996e-01 -7.03572992e-01 -7.24091669e-01
 -4.88841205e-01 -5.97025264e-01 -7.19934679e-01 -2.47098233e-01
 -6.52037185e-01 -7.86638900e-01 -2.46885252e-01 -3.92544324e-01
 -5.04743938e-01 -2.97253312e-01 -5.95214637e-01 -5.51427744e-01
 -5.03233762e-01 -8.25377711e-01 -6.46783839e-01 -8.03277213e-01
 -3.14812336e-01 -6.48181956e-01 -5.84730206e-01 -8.50381763e-01
 -5.84362680e-01 -6.38671661e-01 -6.56729951e-01 -5.74290011e-01
 -7.17387662e-01 -6.85537358e-01 -7.46654891e-01 -7.07052587e-01
 -6.07351651e-01 -8.00284584e-01 -5.90573032e-01 -7.31625501e-01
 -7.38473662e-01 -5.93797420e-01 -6.44197631e-01 -6.25460308e-01
 -9.17141592e-01 -9.04627471e-01 -9.05299719e-01 -5.56361759e-01
 -6.87278937e-01 -9.62834222e-01 -6.30509826e-01 -6.39846525e-01
 -8.08311350e-01 -6.78427284e-01 -6.58934306e-01 -1.06875597e+00
 -1.01673891e+00 -5.93003347e-01 -6.36356171e-01 -9.97361636e-01
 -7.16594089e-01 -6.62163288e-01 -8.28193683e-01 -6.29930217e-01
 -6.86799005e-01 -6.58516162e-01 -6.58297093e-01 -7.31222739e-01
 -8.43147098e-01 -1.05369123e+00 -6.95897163e-01 -6.25781365e-01
 -8.41697711e-01 -6.87094876e-01 -7.98844796e-01 -7.23581449e-01
 -8.49778185e-01 -7.04241304e-01 -8.47931775e-01 -1.24252412e+00
 -8.38370745e-01 -8.19575366e-01 -7.21841892e-01 -8.18885647e-01
 -8.67971648e-01 -8.72186858e-01 -7.66071286e-01 -8.36919793e-01
 -8.20410248e-01 -8.12296777e-01 -8.13091962e-01 -8.41470701e-01
 -8.44310715e-01 -8.59624920e-01 -7.56717834e-01 -8.43473331e-01]
[[-1.90583491e-09 -1.40999977e-10 -2.56686192e-09 ... -1.09083849e-08
  -1.83083481e-04 -1.13809508e-08]
 [-1.95724028e-02 -5.51954555e-05 -3.06149491e-02 ...  7.30578093e-01
  -2.32480611e-04  2.97925939e-01]
 [-2.00280497e-06 -7.84235397e-09 -2.76860172e-06 ... -1.28788346e-05
  -1.69878198e-04 -2.02575304e-05]
 ...
 [-2.24417841e-01  1.73878699e-01 -2.47791184e-01 ...  2.39806027e-02
  -2.31920766e-05  5.16275393e-01]
 [-2.60657098e-01  1.46279370e-01 -1.85729282e-01 ... -4.82554127e-01
  -1.64489930e-05  1.26594708e-01]
 [-2.27798357e-01  1.58534027e-01 -2.30930314e-01 ... -2.55881614e-01
  -1.97567252e-05  3.34865993e-01]]

In [15]:
probabilities = logistic_mod.predict_proba(X_test)
print(probabilities[:15,15:])

[[6.07822851e-04 6.11373035e-04 6.13836377e-04 ... 7.63590269e-03
  4.84917647e-03 9.40025366e-03]
 [3.70461287e-10 3.78774164e-10 3.84622493e-10 ... 7.68135475e-02
  1.50899281e-02 5.65712886e-02]
 [1.82999338e-03 1.83655538e-03 1.84109975e-03 ... 2.91766510e-03
  8.30425555e-03 4.16408485e-03]
 ...
 [8.77614436e-07 8.89410318e-07 8.97647323e-07 ... 2.44061887e-02
  6.10048272e-03 1.42284713e-02]
 [1.32247226e-05 1.33557592e-05 1.34469916e-05 ... 1.05067074e-02
  1.50414359e-02 1.59235953e-02]
 [4.39932787e-08 4.46655275e-08 4.51356743e-08 ... 2.46104283e-02
  2.02995836e-02 2.80721921e-02]]

In [16]:
def score_model(probs, threshold):
    return np.array([1 if x > threshold else 0 for x in probs[:,1]])
scores = score_model(probabilities, 0.80)
print(np.array(scores))
print(y_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0]
[ 45972 174979  28631  81160  83382  48123 102964  91953  80468 102763
 131508  30824 105276  77745 119578  62337  40997  18156 136345  65596
  50921 101507  23449  51042  68194  42318  27771 167054 112760 106878
 101162 133419 100001  38145  86037  34609 135829  81701  46556  99418
  98371  82733  94217  65238  84815  47048  92753  69562 141619 141543
 123254 114039  39565  22875  75962 114278  46217  58812  57417  93580
  57252  82264 100125 156936  97084 107380 103153  51756 125452  83631
 117397  93527  13511  95610 138097  92925  97815 121842 110762 174465
  52260  98023 108839  95285  57023  73315 176428  56680 112110  10588
  87337  61458  38778  57028  29599  13224  71123  92728  88827 121541
  40322  15222  86484  50463  83254  63838 165902  86846 127056  93048
  99220  61302 111922  24399  19905  57117  89480  61015 117312  60168
 154515  77939 137500 119133  21876  41342 140433  92513 122359  50494
  28276  36660  36915  16065  96375 176859  64285 122608  17342 105288
  58684 121950  53441  48706  61985 120279  53572 150227  31608  43168
  85419  86825  95773 174134 106829 113337 138417 142248  71664 122711
  90438 112552  20427  20560  61350 119529 172714 152629 142823  55884
 113066  99495  62923 148975  56435  86388  85726 133373  15192  93275
  99245  82403  15162  63991  21679  78748  60462 170887 157083 113658
  45164 131992 128140  96231 146136 145348 171379 135619 101507  23910
  16358  81033  87335  62594  46297 139530  45937  49490  31323  66615
 161140  97231 157564  88798  82419  83958 107111  86042  93395  89770
  98215 117885 105605  25568  58022  32783  50308  19313  53076  47840
  81089  42607 159590  13522  97067  81236  22071 173183 140321  63830
 119460 139299  39320  69811 101616  86868  37932  70881  19194  56926
  19615  99777  60147  39899  78757  96515  46284  89465 129349  20864
  63683 131206 107130  70602  12393  40247 162339 100653  31139  92946
 101566 118636  16149  86931  54946  87085  43139 172780  61309 109554
  82374  78296  17896  49490 148161 139058  18645  50171  48814  79606
  19108  68515  82935  58400 106486 103985  65560  11357  79068 121942]

In [17]:
def print_metrics(labels, scores):
    metrics = sklm.precision_recall_fscore_support(labels, scores)
    conf = sklm.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score positive    Score negative')
    print('Actual positive    %6d' % conf[0,0] + '             %5d' % conf[0,1])
    print('Actual negative    %6d' % conf[1,0] + '             %5d' % conf[1,1])
    print('')
    print('Accuracy  %0.2f' % sklm.accuracy_score(labels, scores))
    print(' ')
    print('           Positive      Negative')
    print('Num case   %6d' % metrics[3][0] + '        %6d' % metrics[3][1])
    print('Precision  %6.2f' % metrics[0][0] + '        %6.2f' % metrics[0][1])
    print('Recall     %6.2f' % metrics[1][0] + '        %6.2f' % metrics[1][1])
    print('F1         %6.2f' % metrics[2][0] + '        %6.2f' % metrics[2][1])

  
print_metrics(y_test, scores)

                 Confusion matrix
                 Score positive    Score negative
Actual positive         0                 0
Actual negative         1                 0

Accuracy  0.00

           Positive      Negative
Num case        0             1
Precision    0.00          0.00
Recall       0.00          0.00
F1           0.00          0.00

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)